<%= form_for bill do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :event %>
      <%= form.text_field :event, id: :bill_event %>
    </div>

    <div class="form-group">
      <%= form.label :date %>
      <%= form.date_select :date, id: :bill_date %>
    </div>

    <div class="form-group">
      <%= form.label :location %>
      <%= form.text_field :location, id: :bill_location %>
    </div>

    <div class="form-group">
      <%= form.label :total_amount %>
      <%= form.number_field :total_amount, id: :bill_total_amount , min: 0%>
    </div>
  </div>

  <div class="col-md-6">
    <p><strong>Enter bill contribution</strong></p>
    <p><strong>Enter 0 if participant was present but not paid</strong></p>
    <p><strong>Leave BLANK if participant was not present</strong></p>
    <div class="form-group">
      <%= form.fields_for :bill_parts do |bill_part_form|%>
        <div class="">
          <div class="form-group">
            <%= bill_part_form.label bill_part_form.object.user.name%>
            <%= bill_part_form.collection_select :participant_id , User.all ,:id , :name,{},{class:"hidden"}%>
          </div>
          <div class="form-group">
            <%= bill_part_form.number_field :amount, min:0%>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Create Bill", class: "btn btn-primary btn-success"%>
  </div>
<% end %>
