<%= form_for bill do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event %>
    <%= form.text_field :event, id: :bill_event %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :bill_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :bill_location %>
  </div>

  <div class="field">
    <%= form.label :total_amount %>
    <%= form.number_field :total_amount, id: :bill_total_amount , min: 0%>
  </div>


  <div class="field">
    <%= form.fields_for :bill_parts do |bill_part_form|%>
      <div class="field">
        <%= bill_part_form.label :participant_id%>
        <%= bill_part_form.collection_select :participant_id , User.all ,:id , :name,include_blank: true,disabled:true%>
      </div>
      <div class="field">
        <%= bill_part_form.label :amount%>
        <%= bill_part_form.number_field :amount, min:0%>
      </div>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
